{% extends "base.html.twig" %}
{% block body %}
{% include'bibliotroc/header.twig' %}
  
<div class="container-fluid" style="width:90%; ">
<div class="row">
<div class="col-sm-3">
  <h3>Catalogues</h3>
  <div class="list-group" style="">
  {% for i in range(1,10) %}
    <a href="" class="list-group-item">Mathematique</a>
  {% endfor %}
  </div>
  </div>
<div class="col-sm-9">
   <aside class="menu-compte">
      <div class="menu-compte-titre">Mon compte Bibliotroc :</div>
        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
               <input type="text" class="form-control input-sm" id="pseudo" name="_username" required="required" placeholder="Nom d'utilisateur ou email">
               </div>
              <div class="form-group" style="margin-top:20px;">
               <input type="password" class="form-control input-sm" id="password" name="_password" required="required" placeholder="Mot de passe">
               </div>
              <button type="submit" class="btn btn-primary btn-block" style="width:300px; margin-top:20px; text-align:center; margin-left:30%;">Connexion</button>
              <p><a href="mot-de-passe-oublie.html" class="mdp">Mot de passe oublié ?</a></p>
         </form>
      </aside>
      <aside class="menu-compte" style="border: 1px solid #9acc53;">
        <div class="menu-compte-titre-new">Nouveau sur Bibliotroc ?</div>
        <a href="#" type="submit" class="btn btn-success btn-block">S'inscrire gratuitement</a>
     </aside>
</div>
{% endblock %}