  <!-- footer -->
  <footer class="container-fluid container-footer " >
  <div class="container container-footerb ">
    <div class="row">
      <div class="copyright top10 footertext">
        <a href="fonctionnement-echange-livres.html">Le troc mode d'emploi</a><a href="foire-aux-questions.html">Foire aux questions</a><a href="conditions-generales-utilisation.html">CGU</a><a href="contact.html">Contact</a>
      </div>
      <div class="copyright top10">
        <p>Copyright Bibliotroc © 2021-2021. Tous droits réservés. Toute reproduction partielle ou totale est formellement interdite.</p>
      </div>
    </div>
  </div>
</footer> 