  <!-- footer -->
  <footer class="container-fluid container-footer " >
  <div class="container container-footerb ">
    <div class="row">
      <div class="copyright top10 footertext">
        <a href="#">Le troc mode d'emploi</a><br/><a href="foire-aux-questions.html"> Foire aux questions</a><br/></a><a href="contact.html"> Contact</a>
      </div>
      <div class="copyright top10">
        <p style="text-align:center; font-size:12px;">Copyright Bibliotroc tdsi. Tous droits réservés. Toute reproduction partielle ou totale est formellement interdite.</p>
      </div>
    </div>
  </div>
</footer> 